env.NXF_WORK = '/tmp/nxf-work'
workDir = '/tmp/nxf-work'

// AWS S3 bucket requires server-side encryption 
aws.client.storageEncryption = 'AES256'

process.container = 'quay.io/nextflow/bash'

profiles {

  standard {
    process {
      cpus = 1
    }
  }

  cpus {
    process {
      cpus = 2
    }
  }

  memory {
    process {
      memory = '10MB'
    }
  }

  "cpus and memory" {
    process {
      cpus = 2
      memory = '10MB'
    }
  }

  morecpus {
    process {
      cpus = 3
    }
  }

  with_params {
    params.hello = "$baseDir/profile.hello"
    params.number = 10
  }

}
